.navLink {
  border-radius: 20px;
  border: none;
  padding: 14px 50px;
  width: 200px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #b8cbdb 0%, #19a0a7a2 100%);
}

.navLink:hover,
.navLink:focus {
  background-color: #008b8b;
}

.navBlock {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
