.header {
}

.list {
  list-style: none;
}

.item {
}

.navLink {
  text-decoration: none;
}

.btn {
  border-radius: 20px;
  border: none;
  padding: 14px;
  width: 200px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #b8cbdb 0%, #19a0a7a2 100%);
}

.btn:hover,
.btn:focus {
  background-color: #008b8b;
}

.userName {
  font-family: Gill Sans, Verdana;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.708);
  font-size: 45px;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
